html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background:#272727;
  background: url('../image/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  padding: 2em 2.75em;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  max-width: 1024px;
  margin: 0 auto;
  position:relative;
}

.header{
  background:#0e0e0e;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  width: 100%;
  height:120px;
  line-height: 120px;
  border-bottom: 2px solid #111;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
}

h1{
  font-size:4em;
  color:#fff;
  display: inline-block;
  margin:0 10px 0 0;
  line-height: 120px;

}

h2{
  font-size:1.75em;
  color:#6c6c6c;
  display: inline-block;
  line-height: 120px;
}

a{
  color:#f6f6f6;
  text-decoration: none;
}

#link-top{
  display:none;
}